{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content_with_nav %}
  <script type="text/javascript"> 
    function confirm_delete_post() {
      var conf= confirm('Are you sure to delete this post');
      if (conf) {
        location.href='{% url 'delete_post' study_group_id=study_group.unique_id board_id=board_id post_id=post.id %}';
      }
    }
  </script>
    <div class="container-fluid">
      <div class="row">
        {% include "navbar.html" %}
        {% include "sub_navbar.html" %}

        <div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4 main">
          {% if post.creator.user == user %}
            <button type="button" class="btn btn-warning btn-lg pull-right" onclick='confirm_delete_post();'">
              <span class="glyphicon glyphicon-trash"></span> Delete post
            </button>
            <button type="button" class="btn btn-info btn-lg pull-right edit-post-btn" onclick="location.href='{% url 'edit_post' study_group_id=study_group.unique_id board_id=board_id post_id=post.id %}'">
              <span class="glyphicon glyphicon-edit"></span> Edit post
            </button>
          {% endif %}

          <h2>{{ post }}</h2>
          <p>작성자 : <a href="#">{{ post.creator }}</a> | {{ post.created_at }}</p>

          <div class="well">
            <h4>Content</h4>
            {{ post.content | safe }}
          </div>

          <br />

          <h3>Comments </h3>

          {% for comment in post.comment_set.all %}
          <div class="well">
            {% if comment.creator.user == user %}
              <div class="pull-right">
                <button type="button" class="btn btn-success btn-sm"/>Edit</button>
              </div>
            {% endif %}
            <div class="pull-left">
              <img class="img-responsive img-thumbnail comment-thumbnail" src="{{ comment.creator.gravatar_middle_url }}">
            </div>
            <div class="comment-content">
              <div class="comment-author">
                <span class="name"><a href=#" rel="external nofollow" class="url">{{ comment.creator }}</a></span>
                <small>{{ comment.created_at }}</small>
              </div>

              <div class="comment-text">
                {{ comment.content | safe }}
              </div>
            </div>
          </div>
          {% endfor %}

          <form class="form-comment" role="form" action="{% url 'create_comment' study_group_id=study_group.unique_id board_id=board_id post_id=post.id %}" method="post"> {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <button class="btn btn-sm btn-success btn-block" type="submit">Write comment</button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
